body {
  font-family: Arial;
  background-color: rgb(25, 25, 25);
  color: white;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.move {
  height: 50px;
}
.move-btn {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result {
  font-size: 25px;
  font-weight: bold;
}
.your-pick {
  margin-top: 60px;
}

.reset-move {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 12px;
  cursor: pointer;
}
